/*https://javascriptplayground.com/blog/2016/07/css-modules-webpack-react/*/

body {
  height: 100%;
}

.gamePageContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

.gameContainer {
  border: solid red;
}

.chatContainer {
  background-color: #f0f0f0;
  font-family: 'Roboto Mono', monospace;
  height: 90vh;
  position: relative;
}

.messageContainer {
  padding: 0 10px 10px;
  height: calc(100% - 50px);
  position: relative;
  overflow-y: scroll;
}

.messageInstance {
  padding: 7px 0;
}

.messageUsername {
  font-weight: 300;
  font-size: 0.75rem;
}

.messageText {
  font-size: 0.875rem;
}

.messageInputContainer {
  position: absolute;
  padding: inherit;
  bottom: -40px;
  width: 100%;
  padding-top: 15px;
}

.messageInput {
  padding: 0 5px;
  height: 40px;
  font-size: 0.875rem;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}
