/*https://javascriptplayground.com/blog/2016/07/css-modules-webpack-react/*/

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.gamePageContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

.gameContainer {
  border: solid red;
}

.chatContainer {
  background-color: #f0f0f0;
  font-family: 'Roboto Mono', monospace;
  height: 90vh;
  position: relative;
}

.messageContainer {
  padding: 0 10px 20px;
  height: calc(100% - 60px);
  position: relative;
  overflow-y: scroll;
}

.messageInstance {
  padding: 7px 0;
}

.messageUsername {
  font-weight: 300;
  font-size: 0.75rem;
}

.messageText {
  font-size: 0.875rem;
}

.messageInputContainer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.newMessageAlertBanner {
  background-color: #0288D1;
  color: white;
  font-size: 0.75rem;
  text-align: center;
  padding: 2px 0;
}

.messageInput {
  border-color: #e0e0e0;
  padding: 10px;
  min-height: 40px;
  font-size: 0.875rem;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  resize: none;
  vertical-align:top;
  font-family: 'Roboto Mono', monospace;
}

.terminalContainer {
  position: relative;
  font-family: 'Roboto Mono', monospace;
  height: 400px;
  display: block;
  margin: 15px;
  color: #37fe27;
  background-color: rgba(0, 0, 0, 1);
}

.commandLogContainer {
  padding: 0 10px 20px;
  height: calc(100% - 50px);
  overflow-y: scroll;
}

.commandInstance {
  font-size: 0.875rem;
  padding: 14px 0 0;
}

.commandInput {
  position: absolute;
  bottom: 0px;
  border-color: #37fe27;
  padding: 10px;
  font-size: 0.875rem;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  background-color: rgba(0, 0, 0, 1);
  color: #37fe27;
}

.navBar {
  width: 100%;
  height: 70px;
  background-color: #03A9F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.125rem;
  margin-left: 40px;
  color: #fff;
}

.navBarLinksContainer {
  margin-right: 40px;
  display: block;
}

.navBarLinkA {
  text-decoration: none;
  color: #fff;
}

.navBarLink {
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  float: left;
  padding-left: 40px;
}

.navBarLink:hover {
  text-decoration: underline;
}

.contentSuperWrapper {
  margin: 30px 40px 0;
}

.welcomeControlPannel {
  width: 440px;
  background-color: #f0f0f0;
  margin: 0 auto;
  padding: 40px 0;
}

.welcomeMessage {
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  text-align: center;
}

.controlsContainer {
  padding-top: 40px;
}

.gameButtonLink {
  color: #fff;
  text-decoration: none;
}

.gameButton {
  color: #fff;
  background-color: #03A9F4;
  height: 40px;
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin: 0 auto;
  display: block;
  min-width: 200px;
  cursor: pointer;
}

.seperator {
  width: 100%;
  height: 2px;
  background-color: #e0e0e0;
  margin: 40px 0;
}

.joinGameContainer {

}

.roomIdField {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.875rem;
  margin: 0 auto;
  display: block;
  width: 176px;
  padding: 10px;
  margin-bottom: 20px;
  border-style: none;
}

.signInUpField {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.75rem;
  margin: 0 auto;
  display: block;
  width: 250px;
  padding: 14px 10px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: #fff;
  border-width: 2px;
}

.altAuthText {
  color: rgba(0, 0, 0, 0.54);
  font-family: 'Press Start 2P', cursive;
  font-size: 0.875rem;
  text-align: center;
  margin-bottom: 20px;
}

.fieldErrorWrapper {
  width: 276px;
  margin: 0 auto;
}

.fieldErrorText {
  font-size: 0.75rem;
  color: #F44336;
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 5px;

}

.fieldErrorInput {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.75rem;
  display: block;
  width: 250px;
  padding: 14px 10px;
  border-color: #F44336;
  border-style: solid;
  border-width: 2px;
  margin: 0 auto 20px;
}
